<div data-role="view"
    id="single-type"
    data-layout="tabstrip-layout"
    data-show="app.type.init">
    <header data-role="header">
        <div data-role="navbar">
            Темпо
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" data-role="listview" data-style="inset">
        <div>
            <h2 id="titleType" data-bind="text: Title"></h2>
            <div id="distanceType" data-bind="text: Distance"></div>
        </div>        
    </div>
</div>