<div data-role="view"
    id="single-type"
    data-layout="tabstrip-layout"
    data-show="app.type.init">
    <header data-role="header">
        <div data-role="navbar">
            Темпо
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" data-style="inset">
        <div>
            <h2>Вид:</h2>
            <h2 id="titleType" data-bind="text: selectedType.Title"></h2>
            <span>Дистанция за изминаване </span><span id="distanceType" data-bind="text: selectedType.Distance"></span>
            <span>метра</span>
        </div>        
    </div>
</div>