<div data-role="view"
    id="single-type"
    data-layout="tabstrip-layout"
    data-show="app.type.init">
    <header data-role="header">
        <div data-role="navbar">
            Темпо
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" data-style="inset">
        <div>
            <h2>Вид:</h2>
            <h2 id="titleType" data-bind="text: selectedType.Title"></h2>
            <span>Дистанция за изминаване </span><span id="distanceType" data-bind="text: selectedType.Distance"></span>
            <span>метра</span>
        </div>        
    </div>
    <div>
            <h2>Статус:</h2>
            Време <span id="time" data-bind="text: time"></span><br>
            Разстояние <span id="distance" data-bind="text: dist">0</span><br>
            Скорост <span id="distance" data-bind="text: speed"></span><br>
            CurrentLat <span id="currentPosLat" data-bind="text: currentPosLat">0</span><br>
            CurrentLon <span id="currentPosLon" data-bind="text: currentPosLon">0</span><br>
    </div> 
    <div class="buttonArea">
        <a id="start" data-role="button" data-bind="events: {click: start}" class="login-button">Start</a>
        <a id="stop" data-role="button" data-bind="events: {click: stop}" class="login-button">Stop</a>
    </div>
</div>